flask==3.1.0
flask-socketio==5.5.1
eventlet==0.40.0
gunicorn==23.0.0
python-dotenv==1.0.1
requests==2.32.3
pymongo==4.10.1
PyJWT==2.10.1
bcrypt==4.3.0
dashscope==1.22.1
openai==1.59.8
imageio-ffmpeg==0.5.1
sqlalchemy==2.0.36
